.App {
  text-align: center;
}
body {
  background-color: lightblue;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.button{
  color: #fff !important;
	text-transform: uppercase;
	background: #79b7ce;
	padding: 9px;
  margin-right: 0px;
  margin-left:15px;
  margin-top:20px;
	border-radius: 5px;
  border:0.2em solid  #60a3bc; 
  float:left;
}


input {
  width: 200px;
  padding: 10px;
  margin: 20px;
  float: left;
  border:0.2em solid  #82b2c4;
  border-radius: 5px;
  text-align:center;
}
p {
  width: 260px;
  padding: 20px;
  margin: 10px;
  border:0.1em solid  #60a3bc; 
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color:rgb(60, 85, 107);
}
span {
  width:20%;
  float:right;
  text-align:center;
  margin-top: 80px;
  margin-right: 1030px;
  padding:20px;
  font-size:xx-large;
  font-weight: 600;
  color:rgb(60, 85, 107);
  border: 2px solid #6a9fb3;
  border-radius: 10px;
}


.form {
  width: 34%;
  margin-top: 20px;
  margin-left: 60px;
  float:left;
  padding:50px;
  /* border: 2px solid #6a9fb3; 
  border-radius: 5px; */
}

.list{
  width:20%;
  float:right;
  text-align:center;
  margin-top: 30px;
  margin-right: 450px;
  padding:20px;
  /* border: 2px solid #6a9fb3; */

}
@keyframes App-logo-spin {cd ~/.ssh
  ssh-keygen
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

