.App {
  text-align: center;
}
body {
  background-color: lightblue;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.flexbox-container{
  display:flex;
  gap: 4em;
  flex-wrap:wrap;
  align-items: center;
}
.flexbox-forms{
  flex: 1 1 30%;
  min-width:30ch;
  max-width: 45ch;
}

form {
  margin-top: 50px;
  margin-left: 60px; 
  padding:10px; 
  border: 2px solid #6a9fb3; 
  border-radius: 5px;
}

input {
  padding: 10px;
  margin: 10px;
  border:0.2em solid  #82b2c4;
  border-radius: 5px;
  text-align:center;
}
button{
  color: #fff !important;
	text-transform: uppercase;
	background: #79b7ce;
	padding: 8px;
	border-radius: 5px;
  border:0.2em solid  #60a3bc; 

}
.flexbox-word-list {
  flex: 1 1 50%;
  min-width:35ch;
  max-width: 60ch;
}
.title {
  margin-top: 30px;
  margin-left:100px;
  margin-right: 100px;
  padding: 10px;
  font-size:xx-large;
  font-weight: 600;
  color:rgb(60, 85, 107);
  border: 2px solid #6a9fb3;
  border-radius: 10px;
}
p {
  padding: 20px;
  margin : 30px;
  border:0.1em solid  #60a3bc; 
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  color:rgb(60, 85, 107);
}




